<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Shop</a>
            <a href="/admin/add-product" class="active">Add Product</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="img-banner">
                <h1>Product</h1>
            </div>
            <form action="/admin/add-product" method="post">
                <div>
                    <label for="title">Enter Product Name</label>
                    <div>
                        <input type="text" name="title" id="title" placeholder="Product Name">
                    </div>
                </div>
                <div>
                     <button type="submit">Add Product</button>
                </div>
            </form>
        </section>
    </main>
    
</body>
</html>